/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(22, 99, 44);
  --secondary: rgb(255, 99, 44);
  --background:rgb(255, 255, 255);
  --secondary-background: rgb(245, 245, 246);
  --dark-background: rgb(0, 0, 0);
  --font: rgb(0, 0, 0);
  --light-font: rgb(255, 255, 255);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Work Sans", Helvetica, Arial, sans-serif;
  min-width: 390px;
}

html{
  font-size: 16px;
}

body > header {
  margin: 0;
  padding: 0;
}

.pageFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 1rem;
}

section{
  max-width: 1100px;
  margin: 0 auto;
}

h1{
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: bold;
}
section h1,
section h2,
section h3 {
  text-align: center;
}

article h1,
article h2,
article h3 {
  text-align: left;
}

article {
  padding: 4rem 10%;
  text-align: left;
}

.home article,
.about article,
.project {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

article h3 a{
  color: var(--font);
}

.logo {
  background-image: url("/static/img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  align-items: center;
}

/*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--light-font);
  padding-right: 1rem;
  background-color: transparent;
  position: relative;
}

.mainNav .logo{
  height: 138px;
  width: 138px;
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItems>li {
  margin-right: 3rem;
  white-space: nowrap;
}

.navItems > li a,
.navItems > li a:visited {
  color: var(--light-font);
  text-decoration: none;
}

.navItems > li a:hover {
  text-decoration: underline;
}

.menuButtonContainer {
  display: none;
}

#menuToggle {
  display: none;
}

/*above the fold*/
.vp{
  height: 100vh;
  background-image: url("/static/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-font);
}

.vp header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 1rem;
  align-items: flex-start;
  margin: 0 10%;
  position: absolute;
  bottom: 10%;
}

.vp header * {
  margin: 0;
}

.vp a {
  color: var(--light-font);
}

.vp a:visited {
  color: var(--light-font);
}

.vp h1{
  font-size: 7rem;
  white-space: nowrap;
}

.vp p:last-child{
  font-size: 125%;
  margin: 0 0 2rem 2rem;
}

.about h2 {
  font-size: 4rem;
}

.about .content h2 {
  text-align: center;
}

.home .vp {
  background-image: url("/static/img/home-bg.jpg");
}

.about .vp {
  background-image: url("/static/img/about-bg.jpg");
}

.home .vp header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
  margin: 10%;
  text-align: center;
  position: relative;
  top: 10%;
}

.home section, 
.about section {
  max-width: 100%;
}

.home main article,
.about main article{
  background-color: var(--dark-background);
  color: var(--light-font);
}

.home main article:nth-child(odd),
.about main article:nth-child(odd){
  background-color: rgba(51, 51, 51);
}

.home main article:nth-child(even) img{
  order: -1;
}

.home main article div, 
.project div, 
.about main article div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 760px;
}

.project {
  padding: 4rem;
}

.project a{
  text-decoration: none;
}

.project a:hover{
  text-decoration: underline;
}

.home main .button {
  width: 100%;
}

.home main article img{
  max-width: 50%;
  height: auto;
}

/* Button */
.button {
  display: block;
  width: 10rem;
  margin: .5rem 0;
  line-height: 3rem;
  background-color: var(--primary);
  color: var(--light-font);
  text-align: center;
}

/* Social Links */

.socialLinks{
  margin:0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.socialLinks li {
  border-left: solid .1rem var(--font);
  padding: 0 .5rem;
}

.socialLinks li:first-child {
  border: none;
}

.socialLinks li a{
  color: var(--font);
  text-decoration: none;
}

/*Three get involved steps*/
.getInvolved article{
  padding: 0 0 4rem 0;
}

.three_steps{
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.three_steps li{
  flex: 1 1 0px
}

.three_steps img{
  margin: 0 auto;
  display: block;
}


@media screen and (max-width: 1175px) {
  .vp h1{
    font-size: 5rem;
  }
}

@media screen and (max-width: 850px){
  .vp header {
    margin: 10% 1rem;
  }

  article{
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
  }

  .home main article img{
    max-width: 100%;
    order: -1;
  }

  .mainNav .logo {
    height: 70px;
    width: 70px;
  }

  /*main navbar - based on https://alvarotrigo.com/blog/hamburger-menu-css/ */
  .menuButtonContainer {
    display: flex;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navItems {
    position: absolute;
    top: 0;
    margin-top: 40px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .menuButton,
  .menuButton::before,
  .menuButton::after {
    display: block;
    background-color: var(--light-font);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menuButton::before {
    content: '';
    margin-top: -8px;
  }

  .menuButton::after {
    content: '';
    margin-top: 8px;
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menuToggle:checked+.menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  #menuToggle~.navItems li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
  }
  
  #menuToggle:checked~.navItems li {
    height: 2rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .navItems>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--font);
  }
}

@media screen and (max-width: 750px){
  .vp h1{
    font-size: 3rem;
    white-space: normal;
  }
}

@media screen and (max-width: 550px){
  .home .vp header{
    margin: 5%;
  }
}