/****************************************
* Site wide
****************************************/

/* Box Model*/
* {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing:inherit
}

:root {
  --primary: rgb(28, 138, 142);
  --secondary: rgb(115, 205, 144);
  
  --bg-white:rgb(255, 255, 255);
  --bg-dark: rgb(1, 17, 30);
  --bg-medium: rgb(10, 41, 67);

  --primary-accent: rgb(28,138,142);
  --text-on-dark: rgb(255,255,255);
  --text-on-light: rgb(1,17,30);
  --link-on-dark: rgb(115,205,144);
  --link-on-light: rgb(39,104,120);
  --border-color-dark: rgb(47,72,88);
  --border-color-light: rgb(56,163,141);

  --dark-text: rgb(1,22,39);
  --dark-text-hover: rgb(47,72,88);
  --light-text: rgb(235, 245, 255);

  --border-radius: .5rem;
  --accent-width: .25rem;
  --text-btm-margin: 1.25rem;

  --feature-x-max: 780px;
  --card-x-min: 280px;
  --card-x-max: 430px;

  --content-x-max: 900px;
  --container-x-max: 1200px;
  --container-x-sm-max: 1000px;
  --container-x-padding: 1rem;
  --container-y-padding: 1rem;
  --container-x-lg-padding: 2rem;
  --container-y-lg-padding: 2rem;

  --v-spacing: 1.25rem;
  --v-spacing-lg: 5rem;
  --padding: .9375rem;
}

html {
  line-height:1.5;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg-dark);
}
dd, dl, dt, form, input,
h1, h2, h3, h4, h5, h6,
blockquote, ul, li, ol,
p {
  margin-bottom: var(--text-btm-margin);
  font-size:inherit;
  max-width: 80ch;
}
p {
  margin-top: 0;
}
button, input, optgroup, select, textarea {
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0
}
dl, ol, ul, p {
  line-height:1.5;
 }
dl, ol, ul {
 list-style-position:outside;
}
ul {
 list-style-type:disc
}
img {
  display:block;
  height:auto;
  max-width:100%;
}
a > svg {
  pointer-events:none
}

h1,.h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 900;
  margin:0 0 var(--v-spacing);
}
h2,.h2 {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 var(--v-spacing);
}
h3,.h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 800;
  margin: 0 0 var(--v-spacing);
}
h4,.h4 {
  font-size: 1.31rem;
  line-height: 1.4;
  font-weight: 700;
  margin:0 0 var(--v-spacing);
}
h5,.h5 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 var(--v-spacing);
}
h6,.h6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 var(--v-spacing);
}

a {
  color: var(--link-on-dark);
  text-decoration-color: var(--link-on-dark);
  text-decoration-thickness: 1px;
  transition: text-decoration .2s ease-out;
}
:not(.bg-white) h2>a,
:not(.bg-white) h3>a,
:not(.bg-white) h4>a,
:not(.bg-white) h5>a {
  color: var(--light-text);
}
a:focus,
a:hover {
  text-decoration-thickness: 3px;
  color: var(--link-on-dark);
}

.container {
  color: var(--text-on-dark);
  margin: 0 auto;
  max-width: var(--container-x-max);
  padding: var(--container-y-padding) var(--container-x-padding);
}
.horizontal {
  display: flex;
  flex-direction: column;
  gap: var(--container-x-lg-padding);
}
.is-rich-text .horizontal {
  gap: var(--container-x-padding);
}
.horizontal > * {
  margin-left: auto;
  margin-right: auto;
}
@media all and (min-width: 900px) {
  :not(.is-rich-text) .horizontal {
    flex-direction: row;
  }
}
@media all and (min-width: 800px) {
  .is-rich-text .horizontal {
    flex-direction: row;
  }
}
.lg {
  font-size: 2.5rem;
  font-weight: 900;
}
.horizontal p {
  line-height: 2;
}
main.container {
  padding-top: 0;
}
.container--narrow {
  max-width: var(--content-x-max);
}
.content {
  max-width: var(--content-x-max);
}
.content a {
}
.content.bg-white {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: var(--accent-width) solid var(--primary-accent);
}
.mainFeature {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: var(--accent-width) solid var(--primary-accent);
  max-width: var(--feature-x-max);
  transform: translateY(calc(-1 * var(--v-spacing-lg)));
  margin-bottom: calc(-1 * var(--v-spacing-lg));
}
.pullUp h1 {
  margin: 0;
}
.container.pullUp {
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(calc(-1 * var(--v-spacing-lg)));
  margin-bottom: calc(-1 * var(--v-spacing-lg));
}
.pullUp + .bg-medium {
  margin-top: var(--container-y-lg-padding);
}
.bg-white {
  color: var(--text-on-light);
  background-color: var(--bg-white);
}
.bg-white a:not(.button) {
  color: var(--link-on-light);
  text-decoration-color: var(--link-on-light);
}
.bg-white a:not(.button):focus,
.bg-white a:not(.button):hover {
  text-decoration-thickness: 3px;
  color: var(--dark-text-hover);
}
.bg-medium {
  background-color: var(--bg-medium);
}
@media all and (min-width: 720px) {
  .container {
    padding: var(--container-y-lg-padding) var(--container-x-lg-padding);
  }
}

.card-grid {
  margin: 0 auto;
  padding-bottom: var(--container-y-lg-padding);
  max-width: var(--container-x-sm-max);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 650px) {
  .card-grid {
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
  }
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: var(--card-x-min);
  max-width: var(--card-x-max);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border: 1px solid var(--bg-white);
  border-bottom: var(--accent-width) solid var(--primary-accent);
  margin: 0 var(--padding) var(--container-y-lg-padding) var(--padding);
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-dark);
  padding: var(--padding);
  height: 200px;
}
.card-head img {
  object-fit: contain;
}
.card-body {
  padding: var(--padding);
}
.noPad {
  padding: 0;
}
.card-foot {
  margin-top: auto;
  padding: 0 var(--padding);
}


.h-card {
  display: flex;
  flex-direction: column;
  gap: var(--container-x-padding);
  margin: 0 auto var(--container-y-lg-padding) auto;
}
@media all and (min-width: 780px) {
  .h-card {
    flex-direction: row;
  }
}
.h-card__img {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}
.h-card__img img {
  object-fit: cover;
  width: 100%;
  max-width: 300px;
}
@media all and (min-width: 780px) {
  .h-card__img {
    max-width: 200px;
    max-height: 150px;
  }
  .h-card__img img {
    width: 100%;
  }
}


.pageFooter {
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 1rem;
}






.menu-btn {
  display: block;
  color: var(--bg-white);
  background-color: var(--bg-dark);
  border: 2px solid var(--link-on-dark);
  border-radius: var(--border-radius);
  padding: calc(.75 * var(--container-y-padding)) var(--container-x-padding);
}
.clicky-menu.navItems {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-direction: column;
  position: absolute;
  right: 0;
  top: 3.5rem;
  background-color: var(--dark-text);
  border-top: 1px solid var(--link-on-dark);
  border-right: 1px solid var(--bg-medium);
  border-bottom: 1px solid var(--bg-medium);
  border-left: 1px solid var(--bg-medium);
  gap: 0;
}
.clicky-menu.navItems::after {
  content: '';
  display: block;
  width: 1rem;
  height: .5rem;
  background-color: var(--link-on-dark);
  position: absolute;
  top: -.5rem;
  right: 28px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.clicky-menu.is-visible {
  display: flex;
}
@media all and (min-width: 780px) {
  .menu-btn {
    display: none;
  }
  .clicky-menu.navItems {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    border: none;
    position: static;
    top: 0;
    gap: 2rem;
  }
  .clicky-menu.navItems::after {
    display: none;
  }
}
/**
 * Initial state, hidden off screen
 */
 .clicky-menu ul {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden; /*[1]*/
}

/**
 * Open/Close Menu Behavior with JS
 */
.clicky-menu ul[aria-hidden="false"] {
	visibility: visible;
}


/* General Link & Button Styles */
.clicky-menu a,
.clicky-menu button {
	background: transparent;
}

.clicky-menu a:focus,
.clicky-menu button:focus {
	outline: .125em dotted var(--link-on-dark);
	outline-offset: -.125em;
}

/* Top Level Items */
.clicky-menu > li {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
}

.clicky-menu > li > a,
.clicky-menu > li > button {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 0;
	font-size: inherit;
	line-height: 1.5;
	cursor: pointer;
}
@media (min-width: 780px) {
	.clicky-menu > li > a,
	.clicky-menu > li > button {
		justify-content: center;
	}	
}

/* Submenu Styles */
.clicky-menu ul {
	min-width: 100%;
	width: 12em;
	margin-top: .25em;
	padding: 0;
	list-style: none;
}

/* Responsive Submenu Behavior */
.clicky-menu ul[aria-hidden="false"] {
	position: static;
	width: 100%;
	flex: 0 0 auto;
}

@media (min-width: 780px) {
	.clicky-menu ul[aria-hidden="false"] {
		position: absolute;
		width: auto;
	}
}

/* Submenu Links */
.clicky-menu ul a {
	display: block;
}
@media (min-width: 780px) {
	.clicky-menu ul a {
		white-space: nowrap;
	}
}







.mainNav {
  width: 100%;
  max-width: var(--container-x-max);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text);
  background-color: transparent;
  position: relative;
}

.mainNav .logo{
  height: 138px;
  width: 221px;
}

.navItems {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navItems > li {
  margin: 0;
}
@media all and (min-width: 780px) {
  .navItems > li {
    margin: 0 .5rem;
  }
}

.navItems a {
  color: var(--light-text);
  font-weight: 700;
  text-decoration-thickness: 1px;
  transition: text-decoration .2s ease-out;
  text-decoration-color: var(--link-on-dark);
  padding: 10px 20px;
}
@media all and (min-width: 780px) {
  .navItems a {
    padding: 10px;
  }
}
.navItems a:hover,
.navItems :focus {
  text-decoration-thickness: 4px;
}

a .head-logo {
  box-shadow: 0 4px 0 var(--bg-dark), 0 4px 0 var(--link-on-dark);
  transition: box-shadow .2s ease-out;
}
a:hover .head-logo {
  box-shadow: 0 4px 0 var(--bg-dark), 0 6px 0 var(--link-on-dark);
}
a:focus .head-logo {
	outline: .125em dotted var(--link-on-dark);
	outline-offset: .25rem;
}
a:focus-visible {
  outline: none;
}




/*above the fold*/
.pageHead {
  height: 98vh;
  background-image: url("{{ '/static/img/bg.jpg' | url }}");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-text);
  mask: linear-gradient(0deg, #FFF0, 5rem, #FFFF 15rem);
}
.pageHead.short-default {
  height: 45vh;
}
.nav-wrap {
  display: flex;
  justify-content: center;
  background-color: var(--dark-text);
  padding: 1rem;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Button */
.button {
  display: inline-block;
  margin-bottom: var(--text-btm-margin);
  background-color: var(--primary);
  color: var(--bg-white);
  border: 1.2px solid var(--border-color-dark);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s ease-out;
}
.button:hover,
.button:focus {
  text-decoration: none;
  background-color: var(--border-color-dark);
  color: var(--light-text);
}

/* Social Links */

.socialLinks{
  margin:0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.socialLinks li {
  border-left: solid .1rem var(--text-on-light);
  padding: 0 .5rem;
}

.socialLinks li:first-child {
  border: none;
}

.socialLinks li a{
  color: var(--text-on-light);
  text-decoration: none;
}

.show-for-sr,
.show-on-focus {
  position:absolute!important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px 1px 1px 1px);
  white-space:nowrap
}
.show-on-focus:active,
.show-on-focus:focus {
  position:static!important;
  width:auto;
  height:auto;
  overflow:visible;
  clip:auto
}
