<footer class="pageFooter">
  <ul class="socialLinks">
    <li><a href="https://www.meetup.com/Code-for-Tucson/">Meetup</a></li>
    <li><a href="https://www.facebook.com/groups/codefortucson">Facebook</a></li>
    <li><a href="https://github.com/codefortucson">GitHub</a></li>
  </ul>
  <small>
    This website on <a href="{{ pkg.repository.url }}">github</a>.
    Started with <a href="{{ pkg.repository.boilerplate }}">eleventy-netlify-boilerplate</a>.
  </small>
</footer>
