<footer class="pageFooter">
  <small>
    This website on <a href="{{ pkg.repository.url }}">github</a>.
    Started with <a href="{{ pkg.repository.boilerplate }}">eleventy-netlify-boilerplate</a>.
  </small>
  <ul class="socialLinks">
    <li><a href="">Meetup</a></li>
    <li><a href="">Facebook</a></li>
    <li><a href="">GitHub</a></li>
  </ul>
</footer>
