<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="getInvolved">
		<div class="vp">
			{% include "components/mainNav.njk" %}
			<header>
				<h1>{{ metadata.title }}</h1>
				{% if headerText %}
				<p>{{ headerText }}</p>
				{% endif %}
			</header>
		</div>
			<main>
				<section>
				<h1>How to Get Involved</h1>
					<article>
						<ul class="three_steps">
							<li>
								<img src="{{ '/static/img/slack_logo.png' | url }}" alt="Slack Logo">
								<h3>Step 1</h3>
								<p><strong>Join our Slack channel: </strong>Slack is where we get to know each other and work together. Come and introduce yourself!</p>
							</li>
							<li>
								<img src="{{ '/static/img/logo.png' | url }}" alt="Code For Tucson Logo">
								<h3>Step 2</h3><p><strong>Find a project: </strong>We have multiple projects in the work needing people of any background and skills. Look for one you’re interested in!</p>
							</li>
							<li>
								<img src="{{ '/static/img/meetup_logo.png' | url }}" alt="Meetup Logo">
								<h3>Step 3</h3>
								<p><strong>Come to a meetup: </strong>We typically meet every 2 weeks on Wednesday night. It's a great place to find a team and discuss what you're interested in</p>
							</li>
						</ul>
					</article>
				</section>
			</main>
		{% include "components/mainFooter.njk" %}
	</body>

</html>