---
section: page
---
<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en-US">

	{% include "components/head.njk" %}

	<body>
		<header class="pageHead">
			<div class="nav-wrap">
				{% include "components/mainNav.njk" %}
			</div>
			<picture class="hero__wrap">
				<source media="(max-width: 640px)"
					srcset="{{ '/static/img/bg.jpg' | url }}">
				<source media="(max-width: 1024px)"
					srcset="{{ '/static/img/bg.jpg' | url }}">
				<source media="(max-width: 1400px)"
					srcset="{{ '/static/img/bg.jpg' | url }}">
				<img loading="lazy" src="{{ '/static/img/bg.jpg' | url }}" alt="">
			</picture>
		</header>

		<main id="main">
			<section class="container mainFeature bg-white">
				<h1 class="show-for-sr">{{ title }}</h1>

				{% if pageHeading %}
					<h2>{{ pageHeading }}</h2>
				{% endif %}
				
				{{ layoutContent | safe }}
			</section>

			<section class="container">

				{% if cardGrid %}
				<div class="card-grid">
					{% for card in cardGrid %}
					<article class="card bg-white">
						<div class="card-head{% if noPadding %} noPad{% endif %}">
							<img src="{{ card.image | url }}" alt="{{ card.altText }}">
						</div>
						<div class="card-body">
							<h3>{{ card.heading }}</h3>
							<p>{{ card.summary }}</p>
						</div>
						<div class="card-foot">
							<a class="button" href="{{ card.btnLink | url }}">{{ card.btnText }}</a>
						</div>
					</article>
					{% endfor %}
				</div>
				{% endif %}

			</section>

			{% if sections %}
			<section class="bg-medium">
				{% for section in sections %}
					{% if section.image %}
					<div class="">
						<img src="{{ section.image | url }}" alt="{{ section.altText }}">
					</div>
					{% endif %}
					<div class="">
						<h2>{{ section.heading }}</h2>
						<p>{{ section.body }}</p>
					</div>
					<div class="">
						<a class="button" href="{{ section.btnLink | url }}">{{ section.btnText }}</a>
					</div>
				{% endfor %}
			</section>
			{% endif %}
		</main>

		{% include "components/mainFooter.njk" %}
	</body>

</html>