<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="home">
		<div class="vp">
			{% include "components/mainNav.njk" %}
			<header>
				{% if headerText %}
				<p>{{ headerText }}</p>
				{% endif %}
				<h1>{{ metadata.title }}</h1>
				{{ layoutContent | safe }}
			</header>
		</div>
			<main>
				<section>
					<article>
						<div>
							<h2>Join the Conversation</h2>
							<p>Sign up for our Slack workspace. We primarily use Slack for connecting and communicating. Introduce yourself, then join channels you are interested in.</p>
							<a class="button" href="">Sign up for Slack</a>
						</div>
						<img src="/static/img/slack.jpg" alt="Slack">
					</article>
					<article>
						<div>
							<h2>Attend an Event</h2>
							<p>We host virtual “hacknights” twice a month to discuss projects, collaborate, and learn from each other. Newcomers welcome, regardless of technical ability.</p>
							<a class="button" href="">RSVP on Meetup</a>
						</div>
						<img src="/static/img/meetup.jpg" alt="Meetup">
					</article>
				</section>
			</main>
		{% include "components/mainFooter.njk" %}
	</body>

</html>