---
layout: layouts/base.njk
section: page
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}
{% if hasCollection and collectionName %}
    {% include "components/collectionList.njk" %}
{% endif %}
