---
layout: layouts/base.njk
section: projects
---
{% set currentProjects = [] %}
{% set pastProjects = [] %}

<div class="container">
    <div class="container content bg-white is-rich-text">
        {{ layoutContent | safe }}
    </div>
</div>        

{% for item in collections[collectionName] | reverse %}
    {% if item.data.isPastProject %}
        {% set pastProjects = (pastProjects.push(item), pastProjects) %}
    {% else %}
        {% set currentProjects = (currentProjects.push(item), currentProjects) %}
    {% endif %}
{% endfor %}

{% if currentProjects %}
<section class="container content">
    <h2>Active Projects</h2>
    <div class="content">
	{% for item in currentProjects %}
        {% include "components/projectListItem.njk" %}
	{% endfor %}
    </div>
</section>
{% endif %}

{% if pastProjects %}
<div class="bg-medium">
    <section class="container content">
        <h2>Past Projects</h2>
        {% for item in pastProjects %}
            {% include "components/projectListItem.njk" %}
        {% endfor %}
    </section>
</div>
{% endif %}